<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

<div class="auth-container">
    <h1>Registration</h1>

    <form action="/auth/register" method="POST" class="auth-form">
        <input type="text" name="username" placeholder="Login">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Register</button>
    </form>

    <% if (locals.error) { %>
        <div class="error-message">
            <%= error %>
        </div>
    <% } %>

</div>

</body>
</html>
